html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	position: relative;
	color: $darkblue;
	overflow-x: hidden;
}

.row-fluid {
	margin-left: -30px;
	margin-right: -30px;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1280px;
	padding-left: 30px;
	padding-right: 30px;
	@include breakpoint(md) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.container-fluid {
	&.relative {
		position: relative;
		.container {
			position: initial;
		}
		.left-half {
			@include breakpoint(md) {
				position: absolute;
				left: 0;
				padding-left: 0;
				right: 50%;
			}
		}
		.right-half {
			@include breakpoint(md) {
				position: absolute;
				right: 0;
				padding-right: 0;
				left: 50%;
			}
		}
	}
}

.half-white {
	background: $white;
	@include breakpoint(md) {
		background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(250,254,255,0) 50%, rgba(255,255,255,0) 100%);
	}
}

.half-white-v {
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(250,254,255,0) 50%, rgba(255,255,255,0) 100%);
}

.blue-purple {
	background: linear-gradient(90deg, rgba($darkblue,1) 0%, rgba($darkblue,1) 50%, rgba($purple,1) 50%, rgba($purple,1) 100%);
}

.white-pink {
	background-color: $pink;
	@include breakpoint(md) {
		background: linear-gradient(90deg, rgba($white,0) 0%, rgba($white,0) 50%, rgba($pink,1) 50%, rgba($pink,1) 100%);
	}
}

.white-darkblue {
	background-color: $white;
	@include breakpoint(md) {
		background: linear-gradient(90deg, rgba($white,0) 0%, rgba($white,0) 50%, rgba($darkblue,1) 50%, rgba($darkblue,1) 100%);
	}
}

.white {
	background-color: $white;
}

.blue {
	background-color: $darkblue;
}

.purple {
	background-color: $purple;
}

.pink {
	background-color: $pink;
}

.uppercase {
	text-transform: uppercase;
}

.btn {
	min-width: 255px;
	padding: 20px 5px;
	color: $darkblue;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	background-color: $white;
	border: 1px solid transparent;
	border-radius: 0;
	&:hover,&:active,&:focus {
		outline: none;
		box-shadow: none;
	}
	&:hover {
		color: $white;
		background-color: $darkblue;
	}
	&.primary {
		color:$white;
		background-color: $darkblue;
		&:hover {
			color: $darkblue;
			background-color: $pink;
		}
	}
	&.secondary {
		color: $purple;
		border-color: $purple;
		@include breakpoint(md) {
			color: $white;
			border-color: $white;
			background-color: transparent;
			&:hover {
				color: $blue;
				background-color: $white;
			}
		}
	}
}

.btn-play {
	position: relative;
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 120px;
	background-color: $white;
	transition: $transition;
	transform: scale(1);
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -7px;
		margin-top: -8.5px;
		width: 14px;
		height: 17px;
		background-image: url('images/icn-play.svg');
		background-position: center;
		background-size: 14px 17px;
		background-repeat: no-repeat;
		transition: $transition;
		transform: scale(1);
	}
	&:hover {
		transform: scale(.9);
		&:after {
			transform: scale(1.3);
		}
	}
}

.owl-container {
	max-width: 100%;
	.owl-gallery {
		margin-bottom: 50px;
		&.overflow {
			.owl-stage-outer {
				overflow: visible;
			}
		}
	}
	.navigation-dots {
		@extend .row;
		position: relative;
		top: 22.5px;
		max-width: calc(100% - 200px);
		margin-left: 0;
		margin-right: 0;
		height: 1px;
		background-color: $grey;
		z-index: 1;
		button {
			@extend .col;
			// box-sizing: border-box;
			// display: inline-block;
			position: relative;
			top: -3px;
			height: 4px;
			background-color: transparent;
			border: none;
			border-radius: 0;
			&.active {
				background-color: $darkblue;
			}
			&:focus, &:active {
				border: none;
				background-color: $darkblue;
				border-radius: 0;
			}
		}
	}
	.navigation-arrows {
		float: right;
		display: inline-block;
		z-index: 5;
		button {
			position: relative;
			width: 44px;
			height: 44px;
			background-color: transparent;
			border-radius: 44px;
			border: 1px solid rgba($purple,.5);
			z-index: 5;
			transition: $transition; 
			&:after {
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -5px;
				margin-left: -5px;
				border-top: 1px solid $purple;
				border-right: 1px solid $purple;
				transition: $transition; 
			}
			&.owl-prev {
				&:after {
					margin-left: -3px;
					transform: rotate(-135deg);
				}
			}
			&.owl-next {
				&:after {
					margin-left: -6px;
					transform: rotate(45deg);
				}
			}
			&.disabled {
				border-color: $grey;
				&:after {
					border-color: $grey;
				}
				&:hover {
					background-color: transparent;
					border-color: $grey;
					&:after {
						border-color: $grey;
					}
				}
			}
			&:hover {
				border-color: rgba($purple,1);
				background-color: $purple;
				&:after {
					border-color: $white;
				}
			}
			&:focus {
				outline: none;
				box-shadow: none;
			}
			&+button {
				margin-left: 15px;
				@include breakpoint(md) {
					margin-left: 50px;
				}
			}
			span {
				display: none;
			}
		}
	}
}

.content-page {
	padding-top: 150px;
	background-color: $darkblue;
	.container {
		padding: 50px 15px;
		background-color: #fff;
		@include breakpoint(md) {
			padding: 50px;
		}
	}
}

.fancybox-container {
	z-index: 999999;
}