footer#colophon {
	padding-top: 70px;
	color: $white;
	font-size: 14px;
	background-color: $darkblue;
	h2 {
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 18px;
		line-height: 32px;
		@include breakpoint(md) {
			margin-top: 0px;
			margin-bottom: 0px;
			font-size: 24px;
			line-height: 150%;
		}
	}
	p {
		&+p {
			margin-top: 60px;
			// margin-bottom: 50px;
		}
	}
	a {
		color: $white;
		font-size: 16px;
	}
	.pdp {
		// margin-top: 0;
		margin-top: 40px;
		margin-bottom: 10px;
		a {
			font-size: 14px;
		}
	}
	.copyrights {
		margin-top: 0;
		@include breakpoint(md) {
			margin-bottom: 60px;
		}
	}
	.logo {
		margin-bottom: 30px;
	}
	.bottom {
		position: absolute;
		right: -35%;
		bottom: 0;
		@include breakpoint(md) {
			right: 0;
		}
	}
	.container {
		padding-right: 40%;
		@include breakpoint(md) {
			padding-right: 15px;
		}
	}
	.qualitare {
		display: block;
		// margin: 0 auto;
		// margin-left: 15px;
		margin-bottom: 30px;
		width: 98px;
		height: 22px;
		background-image: url(images/logo-qualitare.png);
		background-repeat: no-repeat;
		background-position: left center;
		opacity: .6;
		transition: all 300ms ease-out;
		&:hover {
			width: 157px;
			opacity: 1;
		}
		@include breakpoint(md) {
			margin-top: 40px;
		}
	}
}