header#masthead {
	position: absolute;
	padding: 50px 15px;
	width: 100%;
	color: $white;
	// background-color: #000;
	z-index: 9999;
	a {
		color: #fff;
	}
	.site-branding {
		width: auto;
		a {
			display: inline-block;
		}
	}
	ul {
		position: absolute;
		top: 50%;
		width: auto;
		list-style: none;
		padding: 0;
		font-size: 14px;
		margin-bottom: 0;
		transform: translateY(-75%);
		&.main-menu {
			left: 50%;
			text-align: center;
			transform: translate(-50%,-75%);
		}
		&.menu-right {
			text-align: right;
			right: 0;
		}
		li {
			display: inline-block;
			a {
				position: relative;
				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: -10px;
					left: 50%;
					width: 0%;
					height: 1px;
					background-color: $white;
					// opacity: 0;
					transition: all 300ms ease;
					transform: translateX(-50%);
				}
				&:hover {
					text-decoration: none;
					&:after {
						// bottom: -5px;
						width: 100%;
						opacity: 1;
					}
				}
			}
			&+li {
				margin-left: 40px;
			}
		}
	}
	.container {
		padding: 0 30px;
		@include breakpoint(sm) {
			padding: 0;
		}
	}


}

.menu-toggle {
	position: fixed;
	top: 35px;
	right: 25px;
	width: 52px;
	height: 52px;
	border-radius: 52px;
	// background-color: #20254B;
	// background-image: url('images/menu.svg');
	transition: all 300ms ease-out;
	z-index: 99998;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 52px;
		height: 52px;
		border-radius: 52px;
		background-color: #EAC7E0;
		transition: all 300ms ease-out;
		z-index: 1;
		transform: scale(1);
		z-index: 0;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 52px;
		height: 52px;
		border-radius: 52px;
		background-image: url('images/menu.svg');
		background-position: center;
		background-repeat: no-repeat;
		transition: all 300ms ease-out;
		z-index: 2;
	}
	&.open {
		&:before {
			background-color: #EAC7E0;
			transform: scale(50);
			transition: all 600ms ease-in;
		}
		&:after {
			background-image: url('images/menu-close.svg');
		}
	}
	&.white {
		&:before {
			background-color: #fff;
		}
	}
}

.menu-mobile {
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 20px;
	line-height: 26px;
	background-color: transparent;
	transition: opacity 300ms ease-out 150ms, left 0ms ease-out 0ms;
	transition-delay: 0ms;
	opacity: 0;
	z-index: 99999;
	.logo {
		margin-top: 50px;
		margin-left: 45px;
	}
	.figure {
		position: absolute;
		bottom: -150px;
		right: -50px;
		opacity: 0;
		transition: all 300ms ease-out 0ms;
	}
	ul {
		margin-top: 60px;
		list-style: none;
		opacity: 0;
		transition: opacity 300ms ease-out 0ms, left 0ms ease-out 300ms;
		li {
			padding: 0;
			&+li {
				margin-top: 25px;
			}
			a {
				font-size: 20px;
				color: #20254B;
			}
		}
	}
	&.open {
		right: 0;
		opacity: 1;
		transition: opacity 300ms ease-out 0ms, left 0ms ease-out 300ms;
		transition-delay: 150ms;
		ul {
			opacity: 1;
			transition: opacity 300ms ease-out 400ms;
		}
		.figure {
			right: 0;
			opacity: 1;
			transition: all 300ms ease-out 600ms;
		}
	}
	.menu-toggle {
		position: absolute;
		&:before {
			background-color: #20254B;
			transform: scale(1);
		}
		&:after {
			background-image: url('images/menu-close.svg');
		}		
	}
	.social {
		position: absolute;
		bottom: 20px;
		li {
			display: inline-block;
			&+li {
				margin-left: 20px;
			}
			.icon {
				display: block;
				width: 26.67px;
				height: 26.67px;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				&.instagram {
					background-image: url('images/icn-instagram.svg');

				}
				&.facebook {
					background-image: url('images/icn-facebook.svg');

				}
			}
		}
	}
}