section {
	position: relative;

	h2 {
		margin-bottom: 30px;
	}

	h5 {
		margin-bottom: 24px;
	}

	&#hero {
		// position: absolute;
		// padding-bottom: 100px;
		display: flex;
		width: 100%;
		// height: 100%;
		height: 100vh;
		min-height: 750px;
		align-items: center;
		color: $white;
		// background-image: url('images/hero-bg.jpg');
		background-size: cover;
		background-position: center;
		z-index: 999;
		top: 0;
		overflow: visible;

		.parallax-01 {
			position: absolute;
			max-width: 155px;
			top: -25%;
			right: -50px;
			overflow: hidden;
			@include breakpoint(md) {
				right: 0;
				top: 0;
				max-width: none;
			}
		}

		.parallax-02 {
			position: absolute;
			bottom: -80px;
			left: -20px;
			z-index: 3;
			@include breakpoint(md) {
				left: 0;
				bottom: 100px;
				display: none;
			}
			@include breakpoint(xl) {
				display: block;
			}
			img {
				transform: scale(.8);
				@include breakpoint(md) {
					transform: scale(1);
				}
			}
		}

		.parallax-03 {
			position: absolute;
			right: -40px;
			bottom: -70px;
			z-index: 3;
			@include breakpoint(md) {
				right: -70px;
				bottom: -120px;
			}
			img {
				transform: scale(.8);
				@include breakpoint(md) {
					transform: scale(1);
				}
			}
		}

		.parallax-04 {
			position: absolute;
			right: -50px;
			bottom: -60px;
			z-index: 4;
			@include breakpoint(md) {
				right: -120px;
				bottom: -60px;
			}
			img {
				transform: scale(.8);
				@include breakpoint(md) {
					transform: scale(1);
				}
			}
		}

		.hero-content {
			padding: 0 30px;
			font-weight: normal;
			font-size: 20px;
			@include breakpoint(md) {
				padding: 0 15px;
				margin-bottom: 100px;
			}
			h1 {
				max-width: 530px;
			}
			.btn {
				display: block;
				margin-top: 70px;
				@include breakpoint(md) {
					display: inline-block;
					margin-top: 50px;
				}
			}
			.scroll {
				position: absolute;
				bottom: -60px;
				left: 50%;
				display: block;
				text-align: center;
				font-weight: normal;
				transform: translateX(-50%);
				&:after {
					content: '';
					display: block;
					width: 8px;
					height: 8px;
					position: absolute;
					bottom: -15px;
					left: 50%;
					margin-left: -4px;
					border-right: 1px solid #fff;
					border-bottom: 1px solid #fff;
					transform: rotate(45deg);
				}
			}
		}

		.hero-cta {
			position: absolute;
			bottom: 0;
			width: 100%;
			color: $darkblue;
			@extend .half-white;
			.white {
				padding: 45px 0;
			}
			h3 {
				max-width: 270px;
				font-weight: 700;
				margin-bottom: 20px;
			}
			h5 {
				font-weight: 700;
				margin-bottom: 16px;
			}
			a {
				color: $darkblue;
				h3 {
					text-decoration: underline transparent;
					transition: $transition;
				}
				&:hover {
					text-decoration: none;
					h3 {
						text-decoration: underline $darkblue;
					}
				}
			}
		}

		.container {
			// padding-right: 15px;
			// padding-left: 15px;
			.row {
				margin-left: 0px;
				margin-right: 0px;
			}
		}

	}

	&#empreendimento {

		@include breakpoint(md) {
			padding-top: 150px;
			padding-bottom: 100px;
		}

		h1 {
			margin-bottom: 40px;
			&.uppercase {
				margin-top: 0;
				font-size: 20px;
				line-height: 30px;
				@include breakpoint(md) {
					font-size: 24px;
					line-height: 36px;
				}
			}
		}

		p {
			margin-bottom: 50px;
			padding-right: 50px;
		}

		.container-fluid {
			margin-bottom: 40px;
			padding: 0;
			@include breakpoint(md) {
				margin-bottom: 100px;
			}
		}

		.featured {
			width: 100%;
			margin-bottom: 30px;
			@include breakpoint(md) {
				margin-bottom: 90px;
			}
		}

		.parallax-05 {
			max-width: 190px;
			position: absolute;
			right: -80px;
			bottom: -150px;
			@include breakpoint(md) {
				right: -50px;
				bottom: 0;
			}
			img {
				transform: scale(.7);
				@include breakpoint(md) {
					transform: scale(1);
				}
			}

		}

		.parallax-container {
			position: relative;
			.parallax-06 {
				position: absolute;
				right: 0;
				top: 150px;
				z-index: 2;
				@include breakpoint(md) {
					right: 0;
					top: 80px;
				}
			}
		}

		#owlEmpreendimento {
			.owl-stage-outer {
				overflow: visible;
			}
			.item {
				position: relative;
				height: 430px;
				overflow: hidden;
				.img {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}

	}

	&#descubra {
		position: relative;
		.parallax-02 {
			position: absolute;
			top: 300px;
			right: -50px;
			img {
				transform: scaleX(-1);
			}
		}
		.owl-container {
			margin-top: 80px;
			margin-bottom: 100px;
			.owl-stage {
				left: -10px;
				@include breakpoint(md) {
					left: -100px;
				}
			}
			#owlDescubra {
				.item {
					position: relative;
					height: 200px;
					overflow: hidden;
					@include breakpoint(md) {
						height: 480px;
					}
					.img {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
					}
				}
			}
			.navigation-dots {
				max-width: 100%;
				@include breakpoint(md) {
					max-width: calc(100% - 200px);
				}
			}
		}
	}

	&#diferenciais {
		padding: 80px 0;
		color: $white;
		background-color: $purple;

		h2 {
			margin-bottom: 40px;
			max-width: 500px;
			@include breakpoint(md) {
				margin-bottom: 100px;
			}
		}

		.parallax-07 {
			position: absolute;
			right: -220px;
			top: 0;
			z-index: 3;
			@include breakpoint(md) {
				right: 0;
			}
		}

		.owl-container {
			#owlDiferenciais {
				.item-img {
					position: relative;
					padding-bottom: 100%;
					overflow: hidden;
					margin-bottom: 40px;
					.img {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
					}
				}
				p {
					max-width: 230px;
				}
			}
			.navigation-dots {
				max-width: 100%;
				background-color: rgba($white,.3);
				@include breakpoint(md) {
					max-width: calc(100% - 200px);
				}
				button {
					&.active {
						background-color: $white;
					}
					&:focus, &:active {
						background-color: $white;
					}
				}
			}
			.navigation-arrows {
				button {
					border: 1px solid rgba($pink,1);
					&:after {
						border-top: 1px solid $pink;
						border-right: 1px solid $pink;
					}
					&.disabled {
						border-color: rgba($white,.3);
						&:after {
							border-color: rgba($white,.3);
						}
						&:hover {
							background-color: transparent;
							&:after {
								border-color: rgba($white,.3);
							}
						}
					}
					&:hover {
						background-color: $pink;
						&:after {
							border-color: $purple;
						}
					}
				}
			}
		}

	}

	&#projeto {
		padding-top: 330px;
		background-image: url('images/hero-bg.jpg');
		background-size: auto 100%;
		background-position: top center;
		background-repeat: no-repeat;

		@include breakpoint(md) {
			background-size: 100% auto;
			padding-top: 500px;
		}

		.container-fluid {
			padding-left: 0;
			padding-right: 0;
		}

		.btn-play {
			position: absolute;
			top: 90px;
			left: 50%;
			transform: translateX(-50%);
			@include breakpoint(md) {
				top: 190px;
			}
		}

		.header {
			padding-top: 40px;
			@include breakpoint(md) {
				padding-top: 75px;
				padding-right: 120px;
			}
		}

		p {
			margin-bottom: 50px;
			@include breakpoint(md) {
				padding-right: 120px;
				margin-bottom: 100px;
			}
		}

	}

	&#plantas {
		padding-top: 75px;
		color: $white;
		background-color: $darkblue;

		.parallax-08 {
			position: absolute;
			bottom: -550px;
			right: -20px;
			z-index: 99;
			@include breakpoint(md) {
				bottom: 0;
				right: 0;
			}
		}

		.right-half {
			height: 100%;
		}

		h2 {
			margin-bottom: 40px;
		}
		h6 {
			margin-bottom: 15px;
			color: rgba($white,.3);
		}
		ul {
			padding: 0;
			margin-bottom: 25px;
			list-style: none;
			font-family: Gatwick;
			text-transform: uppercase;
			li {
				margin-bottom: 10px;
			}
		}

		.owl-container {
			position: relative;
			padding-bottom: 50px;
			color: $darkblue;
			@include breakpoint(md) {
				right: -15px;
			}

			#owlPlantas {
				// .owl-stage-outer {
				// 	overflow: visible;
				// }
				// .owl-item {
				// 	opacity: 0;
				// 	transition: all 50ms linear;
				// 	&.active {
				// 		opacity: 1;
				// 	}
				// }
				.item {
					// margin-bottom: 30px;
					.item-img {
						position: relative;
						padding-bottom: 100%;
						overflow: hidden;
						.img {
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							background-position: center bottom;
							background-repeat: no-repeat;
							background-size: contain;
						}
					}
					.item-sub {
						margin-top: 30px;
						padding-left: 30px;
						max-width: 420px;
						@include breakpoint(md) {
							padding-left: 90px;
						}
						h3 {
							text-transform: uppercase;
							margin-bottom: 20px;
							font-family: Gatwick;
						}
					}
				}
			}

			.navigation-dots {
				display: none;
			}

			.navigation-arrows {
				position: absolute;
				right: 30px;
				bottom: 50px;
				@include breakpoint(md) {
					right: 0;
					top: 75%;
					bottom: auto;
				}
			}

		}		

	}

	&#ebook {
		color: $white;
		padding-bottom: 50px;
		@include breakpoint(md) {
			padding-bottom: 0;
		}
		.ebook-padding {
			position: relative;
			height: 100px;
			background-color: $purple;
			overflow: visible;
			z-index: 2;
			.parallax-09 {
				position: absolute;
				top: 650px;
				left: -30px;
				max-width: 140px;
				@include breakpoint(md) {
					max-width: none;
					top: 500px;
					left: 0;
				}
			}
			.parallax-10 {
				position: absolute;
				top: 950px;
				right: -30px;
				@include breakpoint(md) {
					top: 550px;
					right: 0;
				}
			}
		}
		.purple {
			background: linear-gradient(0deg, rgba($white,1) 0%, rgba($white,1) 45%, rgba($purple,1) 45%, rgba($purple,1) 100%);
			@include breakpoint(md) {
				background: $purple;
			}
		}
		.ebook-cover {
			overflow: visible;
			img {
				position: relative;
				right: -100px;
				margin-top: 100px;
				margin-bottom: -60px;
				max-width: none;
				z-index: 1;
			}
		}
		.ebook-cover-xs {
			max-width: 240px;
			margin: 0 auto;
		}
		h2 {
			max-width: 560px;
			margin: 0 auto 50px;
		}
	}

	&#obra {
		padding-top: 50px;
		position: relative;
		@include breakpoint(md) {
			padding-top: 0;
			margin-top: -200px;
		}

		.parallax-11 {
			position: absolute;
			max-width: 264px;
			top: 650px;
			right: -85px;
			z-index: 2;
			@include breakpoint(md) {
				max-width: none;
				top: 300px;
				right: -15px;
			}
		}

		.localizacao {
			overflow: visible;
			padding: 50px 30px;
			@include breakpoint(md) {
				// padding-top: 300px;
				// padding-right: 120px;
				// padding-left: 15px;
				// padding-right: 0;
				padding: 300px 100px 100px 15px;
			}
			&:after {
				@include breakpoint(md) {
					content: '';
					display: block;
					width: 2px;
					height: 128px;
					background-color: $darkblue;
					position: absolute;
					bottom: -64px;
					left: 0;
					z-index: 9;
				}
			}
		}

		.andamento {
			padding-top: 50px;
			@include breakpoint(md) {
				padding-left: 150px;
				padding-top: 90px;
			}

			.status-list {
				margin-top: 70px;
				margin-bottom: 70px;

				.status {
					position: relative;
					margin-bottom: 30px;
					padding-top: 50px;
					h6 {
						position: absolute;
						display: inline-block;
						top: 8px;
						left: 0;
						max-width: 80%;
						&.bancadas {
							top: 0;
						}
					}
					h4 {
						position: absolute;
						right: 0;
						top: 0;
					}
					p {
						margin-top: 40px;
					}
					.status-track {
						position: relative;
						height: 4px;
						background-color: rgba($white,.5);
						.status-complete {
							position: absolute;
							top: 0;
							left: 0;
							height: 4px;
							background-color: $darkblue;
						}
					}
				}

			}

			.obras-footer {
				font-size: 14px;
			}

		}

	}


	&#mapa {
		#gmaps {
			height: 400px;
		}
	}

	&#contato {
		padding-top: 70px;
		@include breakpoint(md) {
			padding-bottom: 70px;
		}
		.sobre {
			padding-bottom: 50px;
			@include breakpoint(md) {
				padding-bottom: 0;
			}
			h2 {
				position: relative;
				// max-width: 140px;
				&:after {
					position: absolute;
					top: 0;
					right: 0;
					content: '';
					display: block;
					width: 141px;
					height: 48px;
					background-image: url('images/icon-urban.svg');
					@include breakpoint(md) {
						right: 50px;
					}
				}
			}
			p {
				margin-bottom: 50px;
			}
			.btn {
				border: 2px solid $darkblue;
			}
		}
		.contato-form {
			color: $white;
			padding-top: 60px;
			padding-bottom: 30px;
			@include breakpoint(md) {
				padding-top: 0;
			}
			p {
				margin-bottom: 30px;
			}
			input {
				&[type="text"], &[type="tel"], &[type="email"] {
					display: block;
					width: 100%;
					max-width: 100%;
					margin-bottom: 20px;
					color: #fff;
					font-size: 16px;
					font-weight: normal;
					line-height: 48px;
					background-color: transparent;
					border: none;
					box-shadow: none;
					border-bottom: 2px solid #B7B8C5;
					&:focus {
						border: none;
						border-bottom: 2px solid $white;
						outline: none;
					}
					@include placeholder {
						color: #fff;
						opacity: .5;
						transition: all 300ms ease-out;
					}
					&:hover {
						@include placeholder {
							opacity: 1;
						}	
					}
				}
			}
			.wpcf7-not-valid-tip {
				display: none;
			}
			.wpcf7-response-output {
				margin: 0;
				text-align: center;
			}
			.btn {
				display: block;
				width: 100%;
				// border: 2px solid #fff;
				color: rgba($white,.5);
				background-color: rgba($white,.3);
				@include breakpoint(md) {
					margin-top: 40px;
					display: inline-block;
					width: auto;
				}
				&.disabled {
					border: 2px solid transparent;
				}
				&:hover {
					color: rgba($darkblue,1);
					background-color: rgba($white,1);
				}
			}
		}
	}

}
