$white: #fff;
$darkblue: #20254B;
$blue: #79CBE4;
$pink: #EAC7E0;
$yellow: #F4AC00;
$yellow2: #FBB243;
$orange: #DC7738;
$purple: #75A7DA;
$black: #333333;
$red: #F5402C;
$green: #03B66F;
$grey: #B7B8C5;

