h1, h2, h4 {
	font-family: Gatwick;
}

h3, h5, h6 {
	font-family: 'Sharp Sans No1';
	font-weight: 600;
}

h1 {
	font-weight: bold;
	font-size: 28px;
	line-height: 36.4px;
	@include breakpoint(md) {
		font-size: 38px;
		line-height: 130%;
	}
}

h2 {
	font-weight: bold;
	font-size: 28px;
	line-height: 36.4px;
	@include breakpoint(md) {
		font-size: 32px;
		line-height: 130%;
	}
}

h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 130%;
}

h4 {
	font-size: 18px;
	line-height: 150%;
}

h5 {
	font-weight: 600;
	font-size: 11px;
	line-height: 150%;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	&.tag {
		font-size: 9px;
	}
	@include breakpoint(sm) {
		font-size: 12px;
	}
}

h6 {
	font-weight: 600;
	font-size: 11px;
	line-height: 150%;
	letter-spacing: 0.4em;
	text-transform: uppercase;
}

p {
	&.sub {
		color: $grey;
		font-weight: 600;
		font-size: 14px;
		line-height: 130%;
	}
}