
@font-face {
    font-family: 'Gatwick';
    src: url('fonts/Gatwick-Bold.eot');
    src: url('fonts/Gatwick-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gatwick-Bold.woff2') format('woff2'),
        url('fonts/Gatwick-Bold.woff') format('woff'),
        url('fonts/Gatwick-Bold.ttf') format('truetype'),
        url('fonts/Gatwick-Bold.svg#Gatwick-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Sans No1';
    src: url('fonts/SharpSansNo1-Bold.eot');
    src: url('fonts/SharpSansNo1-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SharpSansNo1-Bold.woff2') format('woff2'),
        url('fonts/SharpSansNo1-Bold.woff') format('woff'),
        url('fonts/SharpSansNo1-Bold.ttf') format('truetype'),
        url('fonts/SharpSansNo1-Bold.svg#SharpSansNo1-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Sans No1';
    src: url('fonts/SharpSansNo1-Medium.eot');
    src: url('fonts/SharpSansNo1-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/SharpSansNo1-Medium.woff2') format('woff2'),
        url('fonts/SharpSansNo1-Medium.woff') format('woff'),
        url('fonts/SharpSansNo1-Medium.ttf') format('truetype'),
        url('fonts/SharpSansNo1-Medium.svg#SharpSansNo1-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Sans No1';
    src: url('fonts/SharpSansNo1-Semibold.eot');
    src: url('fonts/SharpSansNo1-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SharpSansNo1-Semibold.woff2') format('woff2'),
        url('fonts/SharpSansNo1-Semibold.woff') format('woff'),
        url('fonts/SharpSansNo1-Semibold.ttf') format('truetype'),
        url('fonts/SharpSansNo1-Semibold.svg#SharpSansNo1-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@import "headings";

body,
button,
input,
select,
optgroup,
textarea {
	font-family: 'Sharp Sans No1';
	font-weight: 600;
}
