// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Breakpoints
// @include breakpoint($class) {}
@mixin breakpoint($class) {
	@if $class == xs {
		@media (max-width: 767px) { @content; }
	}
	
	@else if $class == sm {
		@media (min-width: 768px) { @content; }
	}
	
	@else if $class == md {
		@media (min-width: 992px) { @content; }
	}
	
	@else if $class == lg {
		@media (min-width: 1200px) { @content; }
	}

	@else if $class == xl {
		@media (min-width: 1600px) { @content; }
	}
	
	@else {
		@media (min-width: $class) { @content; };
	}
}

// Placeholder
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

